<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="demo.jetpack.com">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>

    <application
            android:name=".JetpackApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".navigation.MainActivity">
        </activity>
        <activity
                android:name=".binding.BindingSimpleActivity"
                android:label="@string/title_activity_binding"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".viewmodel.UserViewModelActivity">
        </activity>
        <activity android:name=".room.simple.RoomSimpleActivity">
        </activity>
        <activity android:name=".JetpackStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".binding.include.BindingIncludeActivity">
        </activity>
        <activity android:name=".binding.observable.BindingObservableActivity">
        </activity>
        <activity android:name=".binding.list.BindingListActivity">
        </activity>
        <activity android:name=".binding.twoway.TwoWayActivity">
        </activity>
        <activity android:name=".binding.bindingadapter.BindingAdapterActivity">
        </activity>
        <activity android:name=".room.RoomStartActivity">
        </activity>
        <activity android:name=".lifecycle.LifeCycleActivity">
        </activity>
        <activity
                android:name=".livedata.LiveDataActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".livedata.mutablelivedata.MutableLiveDataActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".livedata.mediatorlivedata.MediatorLiveDataActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".livedata.map.TransformationMapActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".livedata.switchmap.TransformationSwitchMapActivity"
                android:screenOrientation="portrait"/>
        <activity android:name=".downloadmanager.DownloadManagerActivity">
        </activity>
    </application>

</manifest>